
.project {
    margin: 0 auto;

    font-style: normal;
    width: 1920px;
    height: 4000px;
    padding: 0;
    background: #171717;
}

.logo {
    width: 216px;
    height: 33px;
    padding-top: 46px;
    padding-left: 230px;
}

.logo-box {
    background: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 218px;
    height: 50px;
    margin: auto;
    margin-top: -37px;
    margin-right: 230px;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration-line: none;

}

.title {

    height: 56px;
    color: white;
    padding-top: 207px;
    padding-left: 230px;
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;

}

.title-text {
    width: 1182px;
    padding-left: 230px;
    padding-top: 41px;
    color: #FFFFFF;
    font-size: 20px;
}

.grid {
    display: grid;

}

.grid-item1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 467px;
    height: 468px;
    margin-left: 230px;
    margin-top: 41px;

    background: #634F2C;
}

.grid-item2 {
    grid-column: 2 / 3;

    margin-left: -330px;
    width: 467px;
    height: 468px;
    margin-top: 41px;

    background: #B4A385;
}

.grid-item3 {
    grid-column: 3 / 4;
    width: 467px;
    height: 468px;
    margin-left: -582px;
    margin-top: 41px;

    background: #E4B564;
}

.grid-item4 {
    grid-column: 1 / 2;

    width: 715px;
    height: 468px;
    margin-left: 230px;
    margin-top: 24px;

    background: #635A4A;
}

.grid-item5 {
    grid-column: 2 / 3;
    width: 715px;
    height: 468px;
    margin-left: -85px;
    margin-top: 24px;

    background: #B08C4D;
}

.item-text {
    display: flex;
    margin-top: 206px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    justify-content: center;

    width: 380px;
    height: 56px;
 margin-left: 40px;


    font-style: normal;
 text-align: center;

 align-items: center;

    color: #FFFFFF;

}

.item-text1{
    margin-left: 162px;
}
.item-text2{
    margin-left: 25%;
}
.second-title {
    height: 56px;
    color: white;
    margin-top: 161px;
    padding-left: 230px;
    font-size: 50px;
    line-height: 28px;
    font-weight: 700;
}

.flex-container {
    display: flex;
}

.box {
    text-align: center;
    width: 100px;
    height: 50px;

    /*margin: 41px 34px;*/
    margin-top: 41px;
    margin-right: 34px;
}

.box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 467px;
    height: 313px;
    left: 230px;
    margin-top: 94px;
    margin-left: 230px;
    color: #FFFFFF;
    background: #0E0E0E;

}

.box-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 467px;
    height: 439px;
    left: 727px;
    margin-top: 94px;
    /*margin-left: 30px;*/
    background: #242424;
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.box-3 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 467px;
    height: 255px;
    left: 1223px;
    margin-top: 94px;
    /*margin-left: 30px;*/
    background: #1F1F1F;
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.box-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 467px;
    height: 560px;
    left: 230px;
    top: 1956px;

    background: #1F1F1F;
    margin-top: -50px;
    margin-left: 230px;
    color: #FFFFFF;
}

.box-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 467px;
    height: 439px;
    left: 727px;



    margin-top: 33px;
    color: #FFFFFF;
    background: #B08C4D;


}

.box-6 {
    display: flex;
    width: 467px;
    height: 313px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-top: -150px;

    background: #0E0E0E;
}

.box-7 {
    display: flex;
    width: 467px;
    height: 313px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-left: -500px;
    background: #0E0E0E;
}

.end {
    width: 1920px;
    height: 1054px;
    left: -2px;
    margin-top: 191.19px;

    background: #0E0E0E;
}

.end-title {
    width: 597px;
    height: 28px;
    margin-left: 228px;
    padding-top: 172px;


    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;


    color: #FFFFFF;

}

.end-bot {
    background: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 218px;
    height: 50px;
    margin: auto;
    margin-right: 230px;
    margin-top: -25px;
    margin-bottom: -30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    text-decoration: none;
}

.flex-end-container {
    display: flex;
}

.end-box {

    /*text-align: center;*/
    width: 100px;
    height: 50px;
}

.end-box-1 {
    display: flex;
    width: 487px;
    height: 391px;
    margin-left: 228px;
    margin-top: 72px;
    align-items: center;
    justify-content: center;
    background: #634F2C;
}

.end-box-2 {
    display: grid;
    width: 486px;
    height: 391px;
    text-align: center;
    left: 715px;
    margin-top: 72px;
    background: rgba(232, 210, 171, 0.76);
}

.image3 {
    margin-top: 61px;
    margin-left: 217px;
}

.image2 {
    margin-top: -40px;
    margin-left: 173px;
}

.p-end {
    color: #FFFFFF;
    font-weight: 600;
    transform: translateX(100px);
    font-size: 22px;
    display: flex;
    line-height: 28px;

}

.address {
    text-align: center;
    color: #FFFFFF;
}

.end-box-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 487px;
    height: 391px;
    left: 1201px;
    margin-top: 72px;

    background: #E4B564;

}

.end-box-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 487px;
    height: 391px;
    margin-left: 228px;
    top: 3370.19px;

    background: #635A4A;
}

.end-box-5 {
    width: 486px;
    height: 391px;
    left: 715px;
    top: 3370.19px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #B08C4D;
}

.end-box-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 487px;
    height: 391px;
    left: 1201px;
    top: 3370.19px;

    background: #634F2C;
}